@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer-card {
  width: 230px;
  border-radius: 20px;
  height: 280px;
  margin: 0.7rem;
  padding: 0.4rem;
  animation: 2s infinite linear;
  /* position: relative; */
  background: #f0f0f0;
  display: block;
}
.shimmer-card {
  animation: blink-animation 0.6s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.6s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
